*{
    background-color: rgb(34, 102, 97);
    
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    border: 2px solid black;
    background-color: black;
    display: block;
    margin: auto;
    border-radius: 10%;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10%;
    background-color: rgb(63, 103, 113);
        
}

select, input {
    font-size: 16px;
    padding: 5px;
    background-color: rgb(104, 115, 117);
}
